@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.input {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #27272a;
  background-color: #18181b;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  color: #fafafa;
  outline: none;
  transition: border-color 0.15s;
}

.input:focus {
  border-color: #7c3aed;
}

.input::placeholder {
  color: #52525b;
}
